@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  /* outline: 3px solid red; */
}

body {
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1596px;
  margin: 0 auto;
  padding: 0 20px;
}
.header_top {
  display: flex;
  justify-content: space-between;
  min-height: 204px;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  margin-right: auto;
}

.nav {
  display: flex;
  gap: 25px;
  margin-left: 150px;
  list-style: none;
}

.nav li a,
.but1 {
  color: #274c5b;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
}

.controlers {
  display: flex;
  gap: 18px;
}

.search,
.cart {
  position: relative;
  max-width: 200px;
}

.search input {
  position: absolute;
}

.search img {
  position: absolute;
  right: 0;
}
.controlers .cartt {
  border: 1px solid #e0e0e0;
  border-radius: 33px;
  width: 159px;
  display: flex;
}
.contentInfo h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #274c5b;
}
.search {
  display: flex;
  align-items: center;
}
.controlers .cartt input {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #274c5b;
  border: none;
  background-color: #ffffff;
}
.controlers .cartt {
  border: 1px solid #e0e0e0;
  border-radius: 33px;
  width: 159px;
  display: flex;
}
.search,
.cartt {
  position: relative;
  max-width: 200px;
}
.search input {
  border-radius: 36px;
  width: 376px;
  height: 66px;
  background: #fafafa;
  border: none;
  position: absolute;
  left: -370px;
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin: 30px auto;
}
.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #274c5b;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #274c5b;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.organickBanner {
  background-image: url(./pictures/Banner.jpg);
  max-width: 1920px;
  margin: auto;
  height: 898px;
}
.explore {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  color: #274c5b;
  width: 220px;
  height: 79px;
  border-radius: 16px;
  background-color: #efd372;
  border: none;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.offerBannerContent {
  max-width: 1400px;
  height: 367px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 154px;
  display: flex;
  gap: 30px;
}
.organickBannerText p,
.content1 p {
  font-family: "Yellowtail", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #68a47f;
  margin: 0 auto;
}
.organickBannerText h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 70px;
  color: #274c5b;
  margin: 0 auto;
  margin-bottom: 23px;
}
.organickBannerText {
  padding-top: 240px;
}
.photo1 {
  width: 682px;
  height: 367px;
  background-image: url("./pictures/Photo.jpg");
  border-radius: 30px;
}
.photo2 {
  width: 682px;
  height: 367px;
  background-image: url("./pictures/Photo\ \(1\).jpg");
  border-radius: 30px;
}
.photo1 p,
.photo2 p {
  font-size: 36px;
  color: #ffffff;
  font-family: Yellowtail;
  margin-left: 50px;
  margin-top: 116px;
}
.photo2 p,
.aboutUs p {
  color: #7eb693;
}
.photo1 h2,
.photo2 h2 {
  font-family: Roboto;
  font-size: 40px;
  color: #ffffff;
  margin-left: 50px;
  margin-top: -34px;
}
.photo2 h2 {
  color: #274c5b;
}
.aboutUs {
  background-image: url(./pictures/Image.png);
  margin-top: 50px;
  display: flex;
  background-repeat: no-repeat;
}
.conteent {
  float: right;
  margin-top: 170px;
  margin-left: 1000px;
  margin-bottom: 199px;
}
.aboutUs p {
  font-size: 36px;
  font-family: Yellowtail;
}
.aboutUs h2,
.headInfo h2 {
  font-size: 50px;
  font-weight: 800;
  font-family: Roboto;
  color: #274c5b;
  margin-bottom: 16px;
}
.aboutUs span {
  font-family: Open Sans;
  color: #525c60;
  font-size: 18px;
}
.points {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-top: 86px;
}
.point1,
.point2 {
  display: flex;
  align-items: center;
  width: 444px;
}
.icon {
  margin-right: 10px;
  margin-right: 19px;
}
.point1 h2,
.point2 h2 {
  color: #274c5b;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 800;
}
.point1 p,
.point2 p,
.middleInfo p {
  color: #525c60;
  font-size: 18px;
  font-family: Open Sans;
}
.shop {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  color: #ffffff;
  width: 220px;
  height: 79px;
  border-radius: 16px;
  background-color: #274c5b;
  border: none;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.point h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #274c5b;
}
.point {
  display: flex;
  align-items: center;
  gap: 20px;
}
.points {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.aboutUsInfo {
  margin-left: 941px;
  padding-top: 186px;
}
.categories {
  max-width: 1400px;
  margin-top: 296px;
  margin-left: auto;
  margin-right: auto;
}
.carts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.cart {
  background-color: #f9f8f8;
  border-radius: 30px;
  max-width: 100%;
  height: 483px;
}
.p {
  background-color: #274c5b;
  border-radius: 8px;
  width: 96px;
  height: 31px;
  position: relative;
  top: 30px;
  left: 26px;
}
.p p {
  color: #ffffff;
  font-size: 15px;
  font-family: Open Sans;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  padding-top: 6px;
}
.cart h3,
.offcart h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto;
  color: #274c5b;
  border-bottom: 1px #dedddd;
  position: relative;
  left: 15px;
}
.cartText {
  display: flex;
  flex-direction: row;
  width: 279px;
  height: 31px;
  justify-content: space-around;
  align-items: baseline;
}
.s1 {
  color: #b8b8b8;
  font-size: 15px;
  font-weight: 600;
  font-family: Open Sans;
  text-decoration: line-through;
}
.s1 + span {
  color: #274c5b;
  font-size: 18px;
  font-weight: bold;
  font-family: Open Sans;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checked {
  color: orange;
}
.chead {
  text-align: center;
}
.chead p,
.offerText span {
  color: #7eb693;
  font-size: 36px;
  font-family: Yellowtail;
  margin-top: 80px;
}
.chead h2 {
  color: #274c5b;
  font-size: 50px;
  font-weight: 800;
  font-family: Roboto;
  margin-top: -35px;
}
.cbutton {
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;
}

.cbutton {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  color: #ffffff;
  width: 220px;
  height: 79px;
  border-radius: 16px;
  background-color: #274c5b;
  border: none;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.categoriesCarts {
  margin-bottom: 122px;
}
.testimonial {
  background-image: url(./pictures/Background2.png);
  margin-top: 203px;
  padding-top: 165px;
  max-height: 1267px;
}

.testInfo {
  margin: auto;
  max-width: 1108px;
  min-height: 938px;
}
.headInfo p {
  font-size: 36px;
  color: #68a47f;
  font-family: Yellowtail;
  margin-bottom: -54px;
}
.headInfo {
  text-align: center;
}
.headInfo h2 {
  font-size: 50px;
  font-weight: 800;
  font-family: Roboto;
  color: #274c5b;
  margin-bottom: 16px;
}
.middleInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middleInfo .stars {
  width: 123px;
  height: 27px;
  font-size: 21px;
}
.circles img {
  padding-left: 530px;
}
.footInfo {
  display: flex;
  flex-direction: row;
  border-top: 1px #e0e0e0;
  justify-content: space-around;
}
.middleInfo p {
  text-align: center;
}
.point1 p,
.point2 p,
.middleInfo p {
  color: #525c60;
  font-size: 18px;
  font-family: Open Sans;
}
.middleInfo h3 {
  font-size: 25px;
  font-weight: 600px;
  color: #274c5b;
  font-family: Roboto;
  text-align: center;
}
.middleInfo h3 + p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.654;
  color: #525c60;
  text-align: center;
}
.offerBannerOrganick {
  min-height: 1050px;
  background-color: #274c5b;
  max-width: 1920px;
}
.offerHead {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 201px;
}
.offerCarts {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  justify-content: center;
}
.offcart {
  width: 335px;
  height: 483px;
  background-color: #ffffff;
  border-radius: 30px;
  margin-right: 18px;
}
.offerText h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 800;
  font-family: Roboto;
}
.offerButton button {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  color: #274c5b;
  width: 256px;
  height: 79px;
  border-radius: 16px;
  background-color: #efd372;
  border: none;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  gap: 10px;
}
.whoWeAre {
  display: flex;
  margin-right: 200px;
}
.infoAbout {
  background-color: #ffffff;
  border-radius: 30px;
  position: relative;
  right: 90px;
  top: 100px;
  padding-left: 100px;
  padding-top: 22px;
}
.headInfo2 p,
.headingText p {
  font-family: "Yellowtail", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #7eb693;
}
.headInfo2 h2 {
  color: #274c5b;
  font-size: 50px;
  font-weight: 800;
  font-family: Roboto;
}
.points2 h3 {
  color: #274c5b;
  font-size: 25px;
  font-weight: 500;
  font-family: Roboto;
}
.points2 p {
  color: #525c60;
  font-size: 18px;
  font-weight: 400;
  font-family: Open Sans;
}

.galleryOrg {
  background-color: #f1f8f4;
}
.galery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 187px 0px;
}
.image1,
.image2,
.image3 {
  width: 612px;
  height: 583px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image1 {
  background-image: url("./pictures/galery1.png");
}
.image2 {
  background-image: url("./pictures/galery2.png");
}
.image3 {
  background-image: url("./pictures/galery3.png");
}
.image1 p,
.image2 p,
.image3 p {
  width: 320px;
  color: #274c5b;
  height: 96px;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 500;
  font-family: Roboto;
  text-align: center;
  padding-top: 33px;
}
.blog {
  margin-bottom: 185px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 177px;
}
.headingInfo {
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  gap: 200px;
}
.headingText h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #274c5b;
}
.headingInfo button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #274c5b;
  margin-top: 150px;
  border: 2px solid #274c5b;
  border-radius: 16px;
  padding: 28px 45px 29px 45px;
  width: 220px;
  height: 80px;
}
.pics {
  max-width: 1400px;
  height: 592px;
  display: flex;
  justify-content: center;
  gap: 46px;
}
.salad {
  background-image: url(./pictures/salad.png);
  border-radius: 30px;
}
.tomatoes {
  background-image: url(./pictures/tomatoes.png);
  border-radius: 30px;
}
.date {
  border-radius: 100%;
  background-color: #fff;
  height: 80px;
  width: 80px;
  padding: 20px;
  margin-left: 32px;
  margin-top: 43px;
}
.date p {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #274c5b;
  position: relative;
  bottom: 35px;
}
.cartInfo {
  border-radius: 31px 34px 30px 30px;
  padding: 46px 57px 60px 57px;
  width: 613px;
  height: 330px;
  box-shadow: 0 20px 35px 0 rgba(167, 167, 167, 0.25);
  background: #fff;
  margin-top: 140px;
}
.cartInfo span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #274c5b;
}
.cartInfo h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #274c5b;
}
.cartInfo h2 + p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #525c60;
}
.button button {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  color: #274c5b;
  width: 220px;
  height: 79px;
  border-radius: 16px;
  background-color: #efd372;
  border: none;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.newsLatter {
  max-width: 1400px;
  height: 323px;
  background-image: url("pictures/newsLatter.png");
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 220px;
}
.newsText h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #fff;
  padding: 0;
}
.input input {
  border-radius: 16px;
  border: none;
  width: 349px;
  height: 80px;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  color: #ababab;
  text-align: center;
}
.input {
  width: 575px;
  height: 80px;
}
.input button {
  border-radius: 16px;
  padding: 28px 47px 29px 47px;
  width: 220px;
  height: 80px;
  background: #274c5b;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border: none;
}
footer {
  max-width: 1920px;
  height: 492px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 90px;
  border-bottom: 1px solid #d4d4d4;
  margin-left: auto;
  margin-right: auto;
}
.spans span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.654;
  text-align: center;
  color: #525c60;
}
.spans span + span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.654;
  text-align: center;
  color: #525c60;
}
.spans {
  text-align: center;
}
footer .contactUs {
  width: 290px;
  height: 370px;
  text-align: end;
  margin-right: 51px;
  border-right: 1px solid #d4d4d4;
}
.aboutUsfoot {
  max-width: 543px;
  height: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logof {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.aboutUsfoot p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 30px; */
  line-height: 1.654;
  text-align: center;
  color: #525c60;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 285px;
  height: 60px;
}
.logof h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #274c5b;
}
.UtilityPages {
  width: 285px;
  height: 370px;
  margin-left: 51px;
  text-align: start;
  border-left: 1px solid #d4d4d4;
  padding-left: 51px;
}
footer .contactUs h2,
.UtilityPages > h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #274c5b;
  padding-right: 51px;
}
footer .contactUs h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 30px; */
  line-height: 1.65;
  text-align: right;
  color: #525c60;
  padding-right: 51px;
}

footer .contactUs p,
.UtilityPages > p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 30px; */
  line-height: 1.65;
  color: #525c60;
  font-weight: 400;
  padding-right: 51px;
}
@media (hover: hover) {
  .explore:hover,
  .photo1:hover,
  .photo2:hover,
  .offerButton button:hover,
  .button button:hover {
    transform: scale(1.1);
    transition: all 0.8s;
  }
  .shop:hover,
  .cbutton:hover,
  .input button:hover {
    opacity: 0.9;
  }
  .image1:hover,
  .image2:hover,
  .image3:hover {
    border-radius: 50px;
    transition: all 0.5s;
    transform: scale(1.1);
  }
  .footInfo img:hover {
    border: solid 3px #274c5b;
    border-radius: 120px;
  }
  .headingInfo button:hover {
    background-color: #274c5b;
    color: #f1f8f4;
    transition: all 0.25s;
  }
  .cart:hover,
  .offcart:hover {
    transition: all 0.5s;
    transform: scale(1.08);
  }
  .nav li a:hover {
    color: #7eb693;
    transform: scale(1.1);
  }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .conteent {
        margin-top: 1000px;
        margin-left: 0;
    }
    .offerCarts {
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 30px;
    }
    .offerHead {
        padding-top: 50px;
    }
    .whoWeAre {
    display: block;
    margin-right: 0;
    }
    .galleryOrg {
        margin-top: 200px;
    }
    .pics {
        flex-wrap: wrap;
        height: 100%;
    }
    .blog {
        margin-top: 0;
    }
    .img {
        width: 100%;
    }
    .newsLatter {
        border-radius: 30px;
    }
    .search {
        display: none;
    }
    .menu {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .nav {
    display: flex;
    margin-left: 0;
  }
  .menu {
    display: none;
  }
  .search {
    display: none;
  }
  .controlers .cart {
    margin-right: 100px;
  }
  .about {
    flex-direction: column;
    max-width: 1200px;
  }
  .aboutContent {
    padding-left: 30px;
  }
  .content1 {
    flex-direction: column;
  }
  .contentPic {
    margin-top: 200px;
  }
  .content2About {
    margin-top: 44px;
    padding-bottom: 30px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .teamCarts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Carts {
    flex-direction: column;
  }
  .blogBanner {
    background-image: url(./blogPictures/blogBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 345px;
    background-position: 50%;
  }
  .blogBanner h2 {
    text-align: center;
    padding-top: 130px;
  }
  .content {
    margin-left: 80px;
  }
  .banner {
    max-width: 1200px;
    background-position: 50%;
  }
  .offerBanner {
    max-width: 1100px;
  }
  .aboutUs {
    max-width: 1200px;
  }
  .conteent {
    height: 100%;
    margin-top: 1000px;
    margin-left: 50px;
  }
  .categories {
    max-width: 1200px;
    height: 100%;
    margin-top: 0px;
  }
  .carts {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 40px;
  }
  .cbutton {
    margin-top: 50px;
  }
  .testimonial {
    max-width: 1200px;
    margin-top: 80px;
  }
  .offer {
    max-width: 1200px;
    height: 100%;
  }
  .offerHead {
    padding-left: 50px;
    top: 100px;
  }
  .offerCarts {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-top: 0;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  .offcart {
    margin-top: 30px;
  }
  .img {
    width: 100%;
  }
  .whoWeAre {
    display: block;
    margin-right: 0;
  }
  .infoAbout {
    position: unset;
  }
  .galery {
    max-width: 1200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
  }
  .image1,
  .image2,
  .image3 {
    width: 500px;
    height: 500px;
  }
  .blog {
    max-width: 1200px;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pics {
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .headingText h2 {
    font-size: 30px;
  }
  .headingText {
    margin-left: 70px;
  }
  .blog {
    bottom: 0px;
  }
  .salad {
    margin-bottom: 70px;
  }
  .headingInfo {
    max-width: 1200px;
    justify-content: flex-start;
    gap: 0;
  }
  .headingInfo .button {
    margin-right: 260px;
  }
  .headingText {
    padding-left: 200px;
  }
  .newsLatter {
    max-width: 1140px;
    height: 323px;
    background-image: url(pictures/newsLatter.png);
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
  }
  .headingText {
    margin-left: 0px;
    padding-left: 0;
  }
  .headingInfo .button {
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .salad,
  .tomatoes,
  .blog3,
  .blog4,
  .blog5,
  .blog6 {
    max-width: 613px;
    height: auto;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-left: 0;
  }
}
@media screen and (max-width: 925px) {
    .controlers {
      display: none;
    }
    .circles img {
      padding-left: 415px;
    }
    .offer {
      margin-top: 350px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 865px) {
    .footInfo {
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 700px;
    }
    .offerButton button {
        margin-left: 0;
    }
    footer {
        max-width: 1920px;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        align-items: center;
      }
      .aboutUsfoot {
        height: 100%;
      }
      footer .contactUs {
        border: none;
      }
      .UtilityPages {
        border: none;
      }
      .input input {
        width: 205px;
      }
      .input button {
        width: 205px;
      }
  }
@media screen and (min-width: 390px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
    max-width: 768px;
    margin: 0 auto;
  }
  .container {
    max-width: 708px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .organickBanner {
    height: 550px;
    background-position: 40%;
  }
  .organickBannerText {
    padding-top: 150px;
}
  .nav {
    display: none;
  }
  .search {
    display: none;
  }
  .menu {
    display: block;
    margin-right: 30px;
  }
  .headingInfo {
    flex-direction: column;
    gap: 0;
  }
  .headingText {
    margin-left: 0;
  }
  .headingInfo button {
    margin-top: 0;
  }
  .headingInfo .button {
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .blogBanner {
    background-image: url(./blogPictures/blogBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 257px;
  }
  .blogBanner h2 {
    text-align: center;
    padding-top: 100px;
  }
  .salad,
  .tomatoes,
  .blog3,
  .blog4,
  .blog5,
  .blog6 {
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-left: 0;
  }
  footer {
    max-width: 1920px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: center;
  }
  .aboutUsfoot {
    height: 100%;
  }
  .conteent {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 199px;
    margin-top: 300px;
  }
  .aboutUs {
    background-image: url();
  }
  .cartInfo {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding: 46px 0px 60px 0px;
  }
  .button button {
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    color: #274c5b;
    border-radius: 16px;
    background-color: #ffffff;
    border: none;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
  }
  footer .contactUs {
    border-right: none;
  }
  .UtilityPages {
    border-left: none;
  }
  .container h2 {
    font-size: 44px;
  }
  .newsLatter {
    background-position: 50%;
    flex-direction: column;
    gap: 0;
    border-radius: 30px;
  }
  .newsText h2 {
    font-size: 40px;
    margin: 0;
  }
  .input {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 350px;
  }
  .input button {
    width: 50%;
  }
  .input input {
    width: 50%;
  }
  .offerHead {
    padding-left: 70px;
    flex-direction: column;
    display: flex;
    align-items: baseline;
    padding-top: 50px;
  }
  .content {
    margin-left: 40px;
  }
  .content h2 {
    font-size: 50px;
  }
  .offerBanner {
    max-width: 768px;
  }
  .photo1,
  .photo2 {
    background-position: 30%;
  }
  .aboutUs {
    max-width: 768px;
    background-position: 10%;
  }
  .categories {
    max-width: 768px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .carts {
    grid-template-columns: 1fr 1fr;
  }
  .cbutton {
    margin-top: 50px;
  }
  .banner {
    background-position: 50%;
  }
  .conteent {
    width: 708px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 199px;
  }
  .testimonial {
    max-width: 768px;
    height: 100%;
    background-image: none;
    margin-top: 0;
  }
  .headInfo {
    margin-left: 0;
    max-width: 768px;
    text-align: center;
  }
  .middleInfo {
    justify-content: flex-start;
    align-items: center;
    max-width: 768px;
  }
  .middleInfo p {
    max-width: 708px;
  }
  .headInfo p {
    position: relative;
    bottom: 72px;
    left: 0;
  }
  .circles img {
    display: none;
  }
  .cart {
    max-width: 300px;
  }
  .footInfo {
    display: grid;
    grid-template-columns: 1fr;
    border-top: 1px #e0e0e0;
    justify-content: center;
    padding-left: 220px;
    max-width: 708px;
  }
  .offer {
    margin-top: 300px;
    max-width: 768px;
    height: 100%;
    padding-bottom: 20px;
  }

  .offerButton button {
    margin-left: 120px;
  }
  .offerCarts {
    margin-top: 0;
    flex-direction: column;
    max-width: 708px;
    margin-left: 145px;
  }
  .offcart {
    margin-top: 30px;
  }
  .whoWe {
    max-width: 768px;
    height: 100%;
    display: block;
  }
  .infoAbout {
    top: 0;
  }
  .galery {
    max-width: 768px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
  }
  .blog {
    max-width: 768px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .pics {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .headingText h2 {
    font-size: 30px;
  }
  .headingText {
    margin-left: 0px;
    padding-left: 0;
  }
  .blog {
    bottom: 0px;
  }
  .img {
    width: 100%;
  }
  .whoWeAre {
    display: block;
    margin-right: 0;
  }
  .infoAbout {
    padding-left: 0;
  }
  .image1,
  .image2,
  .image3 {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 490px) {
    .controlers {
      display: none;
    }
  }
@media screen and (min-width: 380px) and (max-width: 520px) {
  .menu {
    display: block;
    margin-right: 0;
  }
  .offerBannerContent {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .photo1,
  .photo2 {
    width: 300px;
  }
  .container h2 {
    font-size: 30px;
  }
  .conteent {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 199px;
    margin-top: 300px;
  }
  .aboutUs {
    background-image: url();
  }
  .point1,
  .point2 {
    width: 350px;
  }
  .shop {
    margin-left: 90px;
  }
  .carts {
    margin-left: 0px;
  }
  .footInfo {
    padding-left: 80px;
  }
  .offerHead {
    padding-left: 50px;
    padding-top: 50px;
    flex-direction: column;
    align-items: baseline;
  }
  .img {
    width: 100%;
  }
  .controlers .cartt {
    display: none;
  }
  .offerCarts {
    margin-left: 20px;
  }
  .offer {
    margin-top: 350px;
  }
  .whoWeAre {
    display: block;
    margin-right: 0px;
  }
  .infoAbout {
    padding-left: 0;
  }
  .image1,
  .image2,
  .image3 {
    width: auto;
    height: 350px;
  }
  .headingText {
    padding-left: 0;
  }
  .pics {
    margin-left: 0;
  }
  .salad,
  .tomatoes,
  .blog3,
  .blog4,
  .blog5,
  .blog6 {
    margin-left: 10px;
  }
  .offerButton button {
    margin-left: -10px;
  }
  footer {
    max-width: 1920px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }
  .aboutUsfoot {
    height: 100%;
  }
  .headingInfo {
    flex-direction: column;
    gap: 0;
  }
  .headingText {
    margin-left: 0;
  }
  .headingInfo button {
    margin-top: 0;
  }
  .headingInfo .button {
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .salad,
  .tomatoes,
  .blog3,
  .blog4,
  .blog5,
  .blog6 {
    width: 100%;
    margin-left: 0;
  }
  .cart {
    width: 100%;
    margin-left: 0;
  }
}

