@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 1920px;
  margin: auto;
}

header {
  height: 204px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: row;
  width: 1595px;
  height: 66px;
  justify-content: space-around;
  align-items: center;
}
.navigation span {
  color: #274c5b;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
}
.logo {
  width: 198.79px;
  height: 53.72px;
  margin-left: -145px;
}
.navigation {
  width: 564px;
  height: 23px;
  display: flex;
  justify-content: space-between;
}
.navigation span {
  font-size: 20px;
  font-weight: bold;
}
.basket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart1 {
  display: flex;
  width: 159px;
  height: 66px;
}
.search {
  width: 376px;
  height: 66px;
  background-color: #fafafa;
  border-radius: 36px;
}
.basket {
  width: 159px;
  height: 66px;
}
.banner {
  width: 1920px;
  height: 898px;
  background-image: url("/pictures/Banner.jpg");
}
.content {
  width: 530px;
  height: 405px;
  padding-top: 230px;
  margin-left: 254px;
}
.checked {
  color: orange;
}
.content p,
.headInfo p {
  font-size: 36px;
  color: #68a47f;
  font-family: Yellowtail;
  margin-bottom: -54px;
}
.content h2 {
  color: #274c5b;
  font-family: Roboto;
  font-weight: 800;
  font-size: 70px;
  margin-bottom: 20px;
}
.explore {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  color: #274c5b;
  width: 220px;
  height: 79px;
  border-radius: 16px;
  background-color: #efd372;
  border: none;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.explore img {
  margin-left: 15px;
}
.offerBanner {
  width: 1400px;
  height: 367px;
  margin-left: 260px;
  margin-top: 154px;
  display: flex;
}
.photo1 {
  height: 367px;
  width: 682px;
  background-image: url("/pictures/Photo.jpg");
  margin-right: 36px;
  border-radius: 30px;
}
.photo2 {
  height: 367px;
  width: 682px;
  background-image: url("/pictures/Photo\ \(1\).jpg");
  border-radius: 30px;
}
.photo1 p,
.photo2 p {
  font-size: 36px;
  color: #ffffff;
  font-family: Yellowtail;
  margin-left: 50px;
  margin-top: 116px;
}
.photo2 p,
.aboutUs p {
  color: #7eb693;
}
.photo1 h2,
.photo2 h2 {
  font-family: Roboto;
  font-size: 40px;
  color: #ffffff;
  margin-left: 50px;
  margin-top: -34px;
}
.photo2 h2 {
  color: #274c5b;
}
.aboutUs {
  background-image: url("/pictures/Background.png");
  margin-left: -30px;
  width: 1920px;
  height: 1067px;
  margin-top: 50px;
  display: flex;
}
.conteent {
  height: 702px;
  width: 682px;
  float: right;
  margin-top: 170px;
  margin-left: -957px;
  margin-bottom: 199px;
}
.aboutUs p {
  font-size: 36px;
  font-family: Yellowtail;
}
.aboutUs h2,
.headInfo h2 {
  font-size: 50px;
  font-weight: 800;
  font-family: Roboto;
  color: #274c5b;
  margin-top: -32px;
  margin-bottom: 16px;
}
.aboutUs span {
  font-family: Open Sans;
  color: #525c60;
  font-size: 18px;
}
.points {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-top: 86px;
  margin-left: 7px;
  width: 564px;
  height: 232px;
}

.point1,
.point2 {
  display: flex;
  align-items: center;
  width: 444px;
  height: 96px;
}

.point1 h2,
.point2 h2 {
  color: #274c5b;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 800;
}

.point1 p,
.point2 p,
.middleInfo p {
  color: #525c60;
  font-size: 18px;
  font-family: Open Sans;
}

.icon {
  margin-right: 10px;
  margin-right: 19px;
}
.shop,
.cbutton {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  color: #ffffff;
  width: 220px;
  height: 79px;
  border-radius: 16px;
  background-color: #274c5b;
  border: none;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.cart {
  width: 335px;
  height: 483px;
  background-color: #f9f8f8;
  border-radius: 30px;
}
.cart img {
  height: 324px;
  margin-top: 35px;
}
.p p {
  color: #ffffff;
  font-size: 15px;
  font-family: Open Sans;
  font-weight: 600;
  border-radius: 8px;
  margin-left: 12px;
  padding-top: 6px;
}
.p {
  background-color: #274c5b;
  border-radius: 8px;
  width: 96px;
  height: 31px;
  position: relative;
  top: 30px;
  left: 26px;
}
.categories {
  width: 1400px;
  height: 1343px;
  margin-top: 300px;
  margin-left: 260px;
}
.chead p,
.offerText span {
  color: #7eb693;
  font-size: 36px;
  font-family: Yellowtail;
  margin-top: 80px;
}
.chead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 156px;
}
.chead h2 {
  color: #274c5b;
  font-size: 50px;
  font-weight: 800;
  font-family: Roboto;
  margin-top: -35px;
}
.carts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.cart h3,
.offcart h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto;
  color: #274c5b;
  border-bottom: 1px #dedddd;
  position: relative;
  bottom: 28px;
  left: 27px;
}
.s1 {
  color: #b8b8b8;
  font-size: 15px;
  font-weight: 600;
  font-family: Open Sans;
  text-decoration: line-through;
}
.s1 + span {
  color: #274c5b;
  font-size: 18px;
  font-weight: bold;
  font-family: Open Sans;
}
.cartText {
  display: flex;
  flex-direction: row;
  width: 279px;
  height: 31px;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  bottom: 25px;
}
.cbutton {
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;
}
.testimonial {
  background-image: url("/pictures/Background2.png");
  height: 1267px;
  margin-top: 203px;
}
.testInfo {
  width: 1108px;
  height: 938px;
  margin: auto;
}
.offcart {
  width: 335px;
  height: 483px;
  background-color: #ffffff;
  border-radius: 30px;
  margin-top: 187px;
  margin-right: 18px;
}
.offcart img {
  margin-top: 35px;
}
.offerCarts {
  display: flex;
  flex-direction: row;
  margin-left: 260px;
  margin-top: 60px;
}
.offer {
  width: 1920px;
  height: 1050px;
  background-color: #274c5b;
}
.offerText h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 800;
  font-family: Roboto;
  margin-top: -35px;
}
.offerHead {
  position: relative;
  top: 240px;
  padding-left: 255px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}
.offerButton button {
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  color: #274c5b;
  width: 256px;
  height: 79px;
  border-radius: 16px;
  background-color: #efd372;
  border: none;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}
.offerText span {
  position: relative;
  bottom: 50px;
}
.middleInfo h3 {
  font-size: 25px;
  font-weight: 600px;
  color: #274c5b;
  font-family: Roboto;
  text-align: center;
}
.footInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px #E0E0E0;
    margin-top: 180px;
    margin-left: 40px;
}

.headInfo {
    margin-left: 230px;
    padding-top: 200px;
}
.headInfo p {
    position: relative;
    bottom: 72px;
    left: 250px;
}
.middleInfo {
    display: grid;
    grid-template-rows: 1fr 0,5fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.middleInfo img {
    position: relative;
    top: 45px;
    left: 310px;
}
.middleInfo .stars {
    width: 123px;
    height: 27px;
    font-size: 21px;
    position: relative;
    left: 310px;
    top: 65px;
}
.middleInfo p {
    text-align: center;
    margin-top: 90px;
}
.circles img {
    padding-left: 530px;
}
