@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  /* outline: 3px solid red; */
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.portfolioSBanner {
  max-width: 1920px;
  height: 898px;
  background-image: url(./pic/ban.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolioContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1401px;
  height: 1049px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.portfolioCart h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #274c5b;
  margin: 0;
}
.portfolioCart p {
  font-family: "Yellowtail", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #7eb693;
}
.portfolioCart {
  max-width: 451px;
  height: 503px;
}
.bannerContent {
  max-width: 1400px;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  margin-top: -168px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 35px 0 rgba(167, 167, 167, 0.25);
}
.txt h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 70px;
  color: #274c5b;
  margin: 0;
}
.txt p, .carttxt p span, .portfolios p {
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 18px; 
line-height: 1.654;
color: #525c60;
}
.carttxt {
border-radius: 0 30px 30px 0;
padding: 106px 111px 106px 111px;
background-color: #fafafa;
text-align: start;
}
.carttxt p {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 25px;
color: #274c5b;
margin: 5px;
}
.txt, .txt2 {
    text-align: center;
}
.portfolios h2 {
font-family: "Roboto", sans-serif;
font-weight: 800;
font-size: 35px;
color: #274c5b;
}
.portfolioDetalis {
max-width: 937px;
margin-left: auto;
margin-right: auto;
margin-top: 68px;
}
.portfolios img + span {
font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 18px; 
line-height: 1.654;
text-align: center;
color: #525c60;
margin-left: 360px;
}

@media (hover : hover) {
    .nav li a:hover {
      color: #7eb693;
      transform: scale(1.1);
  }
  .input button:hover {
    opacity: 0.9;
  }
  }