@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  /* outline: 3px solid red; */
}
.shop_single {
  min-height: 405px;
  background-image: url(./Banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolioBanner h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #274c5b;
  text-align: center;
  padding-top: 180px;
}
.shop_single h2 {
  text-align: center;
  padding-top: 184px;
}
.search input {
  border-radius: 36px;
  width: 376px;
  height: 66px;
  background: #fafafa;
  border: none;
  position: absolute;
  left: -370px;
}
.portfolioBanner {
  min-height: 405px;
  background-image: url(./pictures/Banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolioContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1401px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  justify-content: center;
}
.portfolioCart h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #274c5b;
  margin: 0;
  padding: 0;
  text-align: start;
}
.portfolioCart p {
  font-family: "Yellowtail", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #7eb693;
}
.portfolioCart {
height: 100%;
}
